{% load static %}
{% load thumbnail %}
<!-- Page Sidebar Start-->
<div class="sidebar-wrapper">
    <div id="sidebarEffect"></div>
    <div>
        <div class="logo-wrapper logo-wrapper-center">
            <a href="{% url 'home' %}" data-bs-original-title="" title="">
                {% if site_settings.site_logo %}
                    {% thumbnail site_settings.site_logo "840x150" crop="center" as thumb %}
                        <img src="{{ thumb.url }}"
                             width="{{ thumb.width }}"
                             height="{{ thumb.height }}"
                             class="img-fluid for-white"
                             alt="{{ site_settings.site_name }}">
                  {% endthumbnail %}
                {% else %}
                  <img src="{% static 'images/logo/1.png' %}"
                       width="840" height="150"
                       class="img-fluid for-white"
                       alt="{{ site_settings.site_name }}">
                {% endif %}
            </a>
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
                <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
            </div>
        </div>
        <div class="logo-icon-wrapper">
            <a href="{% url 'home' %}">
                <img class="img-fluid main-logo main-white" src="{{ site_settings.site_logo.url }}" alt="logo">
                <img class="img-fluid main-logo main-dark" src="{{ site_settings.site_logo.url }}"
                    alt="logo">
            </a>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>

            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{% url 'unit_admin:admin_index' %}">
                            <i class="ri-home-line"></i>
                            <span>پیشخوان</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-user-3-line"></i>
                            <span>کاربران</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:user_list' %}">نمایش کاربران</a>
                            </li>
                            <li>
                                <a href="{% url 'unit_admin:add_user' %}">افزودن کاربر جدید</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-account-pin-circle-line"></i>
                            <span>نقش ها</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:role_list' %}">تمام نقش ها</a>
                            </li>
                            <li>
                                <a href="{% url 'unit_admin:add_role' %}">افزودن نقش جدید</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-airplay-line"></i>
                            <span>آدرس ها</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:address_list' %}">نمایش آدرس ها</a>
                            </li>

                            <li>
                                <a href="{% url 'unit_admin:address_add' %}">افزودن آدرس جدید</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>محصولات</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:product_list' %}">محصولات</a>
                            </li>

                            <li>
                                <a href="{% url 'unit_admin:product_add' %}">افزودن محصول جدید</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-settings-line"></i>
                            <span>ویژگی ها</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:attribute_type_list' %}">ویژگی ها</a>
                            </li>

                            <li>
                                <a href="{% url 'unit_admin:attribute_type_add' %}">افزودن ویژگی جدید</a>
                            </li>
                            <li>
                                <a href="{% url 'unit_admin:attribute_value_list' %}">مقادیر ویژگی ها</a>
                            </li>

                            <li>
                                <a href="{% url 'unit_admin:attribute_add' %}">افزودن مقادیر ویژگی جدید</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-price-tag-3-line"></i>
                            <span>کد تخفیف</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:discount_list' %}">لیست تخفیف ها</a>
                            </li>

                            <li>
                                <a href="{% url 'unit_admin:discount_add' %}">افزودن</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-check-2"></i>
                            <span>دسته بندی</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:category_list' %}">لیست دسته ها</a>
                            </li>

                            <li>
                                <a href="{% url 'unit_admin:category_add' %}">افزودن دسته جدید</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-book-3-line"></i>
                            <span>پست ها</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:blog_list' %}">لیست پست</a>
                            </li>

                            <li>
                                <a href="{% url 'unit_admin:blog_add' %}">افزودن پست جدید</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-settings-line"></i>
                            <span>تنظیمات</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="{% url 'unit_admin:settings' %}">تنظیمات حساب</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="{% url 'unit_admin:contact_list' %}">
                            <i class="ri-phone-line"></i>
                            <span>تیکت ها</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-archive-line"></i>
                            <span>سفارشات</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="order-list.html">لیست سفارشات</a>
                            </li>
                            <li>
                                <a href="order-detail.html">جزئیات سفارش</a>
                            </li>
                            <li>
                                <a href="order-tracking.html">رهگیری سفارش</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="taxes.html">
                            <i class="ri-price-tag-3-line"></i>
                            <span>مالیات</span>
                        </a>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="reports.html">
                            <i class="ri-file-chart-line"></i>
                            <span>گزارشات</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
    </div>
</div>
<!-- Page Sidebar Ends-->