{# unit_admin/discounts/discount_list.html #}
{% extends 'unit_admin/base.html' %}
{% block body %}
<h5>لیست تخفیف‌ها</h5>
<table class="table">
  <thead>
    <tr>
      <th>کد</th><th>نوع</th><th>مقدار</th><th>تا تاریخ</th><th>عملیات</th>
    </tr>
  </thead>
  <tbody>
    {% for d in discounts %}
      <tr>
        <td>{{ d.code }}</td>
        <td>{{ d.get_discount_type_display }}</td>
        <td>{{ d.amount }}</td>
        <td>{{ d.valid_to|date:"Y/m/d" }}</td>
        <td>
          <a href="{% url 'unit_admin:discount_edit' d.pk %}">ویرایش</a>
          <a href="{% url 'unit_admin:discount_delete' d.pk %}">حذف</a>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="5">هیچ موردی یافت نشد.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% include 'partials/pagination.html' with page_obj=page_obj %}
{% endblock %}
