*{
    background-image: url("images/background.jpg"); !important;
}

.red-text {
    color: red !important;
}
.red-text.ml-space {
    margin-left: 8px !important; /* یا هر مقدار دلخواه مثل 10px */
}
