{% load static %}
{% load thumbnail i18n %}
<table class="table theme-table">
  <thead>
    <tr>
      <th>تصویر</th>
      <th>نام</th>
      <th>موبایل</th>
      <th>ایمیل</th>
      <th>وضعیت</th>
      <th>وضعیت حذف</th>
      <th>عملیات</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>
          {% if user.avatar %}
            <img src="{{ user.avatar.url }}" class="img-fluid rounded-circle" width="40" />
          {% else %}
            <img src="{% static 'admin/images/users/defulte.svg' %}" class="rounded-circle me-2" width="40" height="40"/>
          {% endif %}
        </td>
        <td>
          {{ user.get_full_name }}<br>
          <small class="text-muted">{{ user.memberships.first.get_role_display }}</small>
        </td>
        <td>{{ user.mobile|default:"—" }}</td>
        <td>{{ user.email }}</td>
        <td>
          <span class="badge {{ user.is_active|yesno:'bg-success,bg-success' }}">
            {{ user.is_active|yesno:"فعال,غیرفعال" }}
          </span>
        </td>
        <td>
          <span class="badge {{ user.is_deleted|yesno:'bg-secondary,bg-success' }}">
            {{ user.is_deleted|yesno:"حذف شده,غیرفعال" }}
          </span>
        </td>
        <td>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="{% url 'unit_admin:user_edit' user.pk %}" class="btn btn-sm btn-outline-primary">ویرایش
                <i data-feather="edit"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-sm btn-outline-warning"
                      title="این حذف به به این گونه است که کاربر از دیتابیس حذف نمی شود ولی کاربر مجاز به ورود به سایت را ندارد"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteConfirmModal"
                      data-delete-type="soft"
                      data-delete-url="{% url 'unit_admin:user_soft_delete' user.pk %}"
                      data-item-name="{{ user.get_full_name }}">
                <i class="ri-delete-bin-line">حذف موقت</i>
              </button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-sm btn-outline-secondary-2x"
                      title="این حذف به این گونه است که کابر به طور کامل از دیتابیس حذف میشود و دیگر قابل بازیابی نیست"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteConfirmModal"
                      data-delete-type="hard"
                      data-delete-url="{% url 'unit_admin:user_hard_delete' user.pk %}"
                      data-item-name="{{ user.get_full_name }}">
                <i class="ri-delete-bin-fill">حذف دایُم</i>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7" class="text-center text-muted">هیچ کاربری یافت نشد.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<nav aria-label="Page navigation" class="mt-3">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">«</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">«</span></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
      </li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">»</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">»</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
