{% extends 'base.html' %}
{% load thumbnail %}
{% load static%}
{% block title %}درباره ما{% endblock %}
{% block body %}
<!-- Fresh Vegetable Section Start -->
<section class="fresh-vegetable-section section-lg-space">
    <div class="container-fluid-lg">
        <div class="row gx-xl-5 gy-xl-0 g-3 ratio_148_1">
            <div class="col-xl-6 col-12">
                <div class="row g-sm-4 g-2">
                    <div class="col-6">
                        <div class="fresh-image-2">
                            <div>
                                <img src="{{ site_setting.site_logo.url }}" class="bg-img blur-up lazyload" alt="{{ site_setting.name }}">
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="fresh-image">
                            <div>
                                <img src="{{ site_setting.secondary_logo.url }}" class="bg-img blur-up lazyload" alt="{{ site_setting.name }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-12">
                <div class="fresh-contain p-center-left">
                    <div>
                        <div class="review-title">
                              <h4>{{ site_setting.site_name }}</h4>
                              <h2>{{ site_setting.slogan }}</h2>
                        </div>

                        <div class="delivery-list">
                            <p class="text-content">{{ site_setting.about_us_text|linebreaks }}</p>
                            <ul class="delivery-box">
                                {% for opt in site_options %}
                                  <li>
                                    <div class="delivery-box">
                                      <div class="delivery-icon">
                                        {% if opt.logo %}
                                          <img src="{{ opt.logo.url }}" class="blur-up lazyload" alt="{{ opt.name }}">
                                        {% endif %}
                                      </div>
                                      <div class="delivery-detail">
                                        <h5 class="text">{{ opt.name }}</h5>
                                      </div>
                                    </div>
                                  </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fresh Vegetable Section End -->

<!-- Client Section Start -->
<section class="client-section section-lg-space">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="about-us-title text-center">
                    <h4>ما چیکار میکنیم ؟</h4>
                    <h2 class="center">ما مورد اعتماد مشتریان هستیم</h2>
                </div>

                <div class="slider-3_1 product-wrapper">
                    <div>
                        <div class="clint-contain">
                            <div class="client-icon">
                                <img src="{% static 'svg/3/work.svg' %}" class="blur-up lazyload" alt="">
                            </div>
                            <h2>10</h2>
                            <h4>سالهای تجاری</h4>
                            <p>کافی شاپ یک تجارت کوچک است که قهوه، شیرینی و سایر کالاهای صبحگاهی می فروشد. انواع مختلفی از کافی شاپ ها در سراسر جهان وجود دارد.</p>
                        </div>
                    </div>

                    <div>
                        <div class="clint-contain">
                            <div class="client-icon">
                                <img src="{% static 'svg/3/buy.svg' %}" class="blur-up lazyload" alt="">
                            </div>
                            <h2>80 K+</h2>
                            <h4>فروش محصولات</h4>
                            <p>برخی از کافی‌شاپ‌ها یک قسمت نشیمن دارند، در حالی که برخی فقط یک مکان برای سفارش دارند و سپس به جای دیگری برای نشستن می‌روند.</p>
                        </div>
                    </div>

                    <div>
                        <div class="clint-contain">
                            <div class="client-icon">
                                <img src="{% static 'svg/3/user.svg' %}" class="blur-up lazyload" alt="">
                            </div>
                            <h2>90%</h2>
                            <h4>مشتریان خوشحال</h4>
                            <p>هدف من از این کافی شاپ این است که بتوانم یک قهوه بخورم و روزم را ادامه دهم.
                                صبح پنجشنبه است و من بین جلسات عجله دارم. عجله چیز خوبی نیست !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Section End -->

<!-- Team Section Start -->
<section class="team-section section-lg-space">
  <div class="container-fluid-lg">
    <div class="about-us-title text-center">
      <h4 class="text-content">تیم خلاق ما</h4>
      <h2 class="center">اعضای تیم دبیر رفاهی واحد</h2>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="slider-user product-wrapper">
                {% for member in team %}
                    <div>
                      <div class="team-box">
                        <div class="team-image">
                          <img class="img-fluid blur-up lazyload" src="{{ member.user.avatar.url }}" alt="{{ member.user.get_full_name }}">
                        </div>
                        <div class="team-name">
                          <h3>{{ member.user.get_full_name }}</h3>
                          <h5>{{ member.role_display }}</h5>
                          <p>{{ member.user.email }}</p>
                          <p>{{ member.university_name }}</p>
                            <ul class="team-media">
                                <li>
                                    <a href="https://www.facebook.com/" class="fb-bg">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://in.pinterest.com/" class="pint-bg">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://twitter.com/" class="twitter-bg">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/" class="insta-bg">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- Review Section Start -->
<section class="review-section section-lg-space">
  <div class="container-fluid">
    <div class="about-us-title text-center">
      <h4 class="text-content">آخرین دیدگاه‌ها</h4>
      <h2 class="center">مشتریان ما چه می‌گویند؟</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="slider-4-half product-wrapper">
          {% for cm in comments %}
            <div>
              <div class="reviewer-box">
                <i class="fa-solid fa-quote-right"></i>
                <div class="product-rating">
                  <ul class="rating">
                    {% for i in "12345" %}
                      <li><i data-feather="star"{% if forloop.counter <= cm.rating %} class="fill"{% endif %}></i></li>
                    {% endfor %}
                  </ul>
                </div>
                <h3>{{ cm.user.get_full_name }}</h3>
                <p>"{{ cm.content }}"</p>
                <div class="reviewer-profile">
                  <div class="reviewer-image">
                    {% if cm.user.avatar %}
                      <img src="{{ cm.user.avatar.url }}" class="blur-up lazyload" alt="{{ cm.user.get_full_name }}">
                    {% endif %}
                  </div>
                  <div class="reviewer-name">
                    <h4>{{ cm.user.get_full_name }}</h4>
                    <h6>{{ cm.user.active_role_display }}</h6>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Review Section End -->

<!-- Blog Section Start -->
<section class="section-lg-space">
  <div class="container-fluid-lg">
    <div class="about-us-title text-center">
      <h4 class="text-content">وبلاگ ما</h4>
      <h2 class="center">آخرین مطالب وبلاگ ما</h2>
    </div>
    <div class="row">
      {% for post in latest_blog_posts %}
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="blog-box">
            <div class="blog-box-image">
              <div class="blog-image">
                <a href="{% url 'blog:post_detail' post.slug %}" class="rounded-3">
                  {% thumbnail post.banner_image "200x250" crop="center" as im %}
                    <img src="{{ im.url }}" class="bg-img blur-up lazyload" alt="{{ post.title }}">
                  {% endthumbnail %}
                </a>
              </div>
            </div>
            <div class="blog-detail p-3">
              <a href="{% url 'blog:post_detail' post.slug %}" class="text-decoration-none">
                <h5 class="mb-2">{{ post.title }}</h5>
              </a>
              <p class="small text-muted">
                {{ post.published_at|date:"Y/m/d" }} |
                {{ post.views }} بازدید
              </p>
            </div>
          </div>
        </div>
      {% empty %}
        <p class="text-center text-muted">هیچ پست وبلاگی یافت نشد.</p>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Blog Section End -->

{% endblock %}