{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load poll_extras %}

{% block title %}
	محصول
{% endblock %}
{% block body %}
{% include 'components/breadcrumb.html' %}

<!-- Product Left Sidebar Start -->
<section class="product-section">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                <div class="row g-4">
                    <div class="col-xl-6 wow fadeInUp">
                    </div>

                        <div class="col-xl-6 wow fadeInUp">
                            <div class="right-box-contain">
                                <h6 class="offer-top">30% تخفیف</h6>
                                <h2 class="name">تیشرت مردانه آستین بلند</h2>
                                    <div class="price-rating selected-variant-info">
                                        <h3 class="theme-color price">
                                            <strong>قیمت محصول:</strong>
                                            <span id="selected-price">—</span>
                                            <del class="text-content red-text" id="original-price" style="display:none;">
                                                —
                                            </del>
                                            <br>
                                            <strong>موجودی:</strong>
                                            <span id="selected-stock">—</span>
                                            <br>
                                            <div id="discount-container" style="display: none;">
                                                <strong>درصد تخفیف:</strong>
                                                <span class="offer theme-color" id="discount-percent">—</span>
                                            </div>
                                            <br>
                                        </h3>


                                </div>
                                <div class="product-contain">
                                    <p class="w-100">کیک آب نبات چوبی کیک شکلاتی کیک شکلاتی دسر عناب. شیرینی کوتاه آلو شکر پودر دسر کوکی براونی شیرین. کیک کیک پای سیب دسر کیک مافین آلو شکر.</p>
                                </div>

                                    <div class="product-package">

                                        {# 🎨 بخش رنگ به صورت رنگی و رادیوباتن #}
                                        {% if product_attribute_map.رنگ %}
                                            <div class="product-title">
                                                <h4>رنگ</h4>
                                            </div>
                                            <ul class="color circle select-package" data-type="رنگ">
                                                {% for attr in product_attribute_map.رنگ %}
                                                    <li class="form-check">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="color"
                                                               id="color-{{ forloop.counter }}"
                                                               data-type="رنگ"
                                                               data-value="{{ attr.value }}">
                                                        <label class="form-check-label" for="color-{{ forloop.counter }}">
                                                            <span style="background-color: {{ attr.color|default:'#ccc' }}"></span>
                                                        </label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                        {% for attr_type, attr_values in product_attribute_map.items %}
                                            {% if attr_type != 'رنگ' %}
                                                <div class="product-title">
                                                    <h4>{{ attr_type }}</h4>
                                                </div>

                                                <ul class="select-package" data-type="{{ attr_type }}">
                                                    {% for attr in attr_values %}
                                                        <li>
                                                            <a href="javascript:void(0)"
                                                               class=""
                                                               data-type="{{ attr_type }}"
                                                               data-value="{{ attr.value }}">
                                                               {{ attr.value }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endfor %}


                                    </div>



                                    <div class="note-box product-package">
                                        <div class="cart_qty qty-box product-qty">
                                            <div class="input-group">
                                                <button type="button" class="qty-left-minus" data-type="minus" data-field="">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <input id="product-count" class="form-control input-number qty-input" type="text"
                                                       name="quantity" value="1">
                                                <button type="button" class="qty-right-plus" data-type="plus" data-field="">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <button onclick="addProductToCart({{ product.id }})"
                                                class="btn btn-md bg-dark cart-button text-white w-100">
                                            افزودن به سبد خرید
                                        </button>
                                    </div>


                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ product_variant_map|json_script:"variant-data" }}

{% endblock %}
