{% load static %}
<!-- jQuery -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

<!-- jQuery UI -->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<!-- Popper (قبل از Bootstrap) -->
<script src="{% static 'js/bootstrap/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-notify.min.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'js/feather/feather.min.js' %}"></script>
<script src="{% static 'js/feather/feather-icon.js' %}"></script>
<script src="{% static 'js/lazysizes.min.js' %}"></script>
<script src="{% static 'js/slick/slick.js' %}"></script>
<script src="{% static 'js/slick/slick-animation.min.js' %}"></script>
<script src="{% static 'js/slick/custom_slick.js' %}"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>

<!-- Custom scripts -->
<script src="{% static 'js/filter-sidebar.js' %}"></script>
<script src="{% static 'js/auto-height.js' %}"></script>
<script src="{% static 'js/timer1.js' %}"></script>
<script src="{% static 'js/fly-cart.js' %}"></script>
<script src="{% static 'js/quantity-2.js' %}"></script>
<script src="{% static 'js/zoom-filter.js' %}"></script>
<script src="{% static 'js/sticky-cart-bottom.js' %}"></script>
<script src="{% static 'js/custom-wow.js' %}"></script>
<script src="{% static 'js/delivery-option.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/theme-setting.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- External libraries -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Admin specific -->
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>


